<!-- Option -->
<ng-container [formGroup]="controlContainer.control">
  <div class="field-details" *ngIf="showDetails">
    <fieldset class="form-fieldset form-fieldset--options">
      <legend>Options</legend>
      <div class="form-check">
        <label for="none">None</label>
        <input
          id="none"
          formControlName="option"
          name="option"
          type="radio"
          value="none"
        />
      </div>
      <div class="form-check">
        <label for="disabled">Disabled</label>
        <input
          id="disabled"
          name="option"
          formControlName="option"
          type="radio"
          value="disabled"
        />
      </div>
      <div class="form-check">
        <label for="required">Required</label>
        <input
          id="required"
          formControlName="option"
          name="option"
          type="radio"
          value="required"
        />
      </div>
    </fieldset>

    <ng-container
      [ngSwitch]="
        showFieldTypeOptions(controlContainer.control.get('inputType').value)
      "
    >
      <!-- Default Value -->

      <div class="form-group ml-2" *ngSwitchCase="'defaultValue'">
        <label for="defaultValue">Default Value</label>
        <input
          id="defaultValue"
          formControlName="defaultValue"
          name="description"
          type="text"
        />
      </div>
      <!-- Range -->
      <input
        type="range"
        name="duration"
        formControlName="duration"
        min="0"
        max="60"
        step="0.5"
        *ngSwitchCase="'range'"
      />
      <!-- Options -->
      <div
        class="field-options-container"
        *ngSwitchCase="'options'"
        formArrayName="fieldOptions"
      >
        <div
          *ngFor="
            let fieldOption of getOptionsFormArray(controlContainer.control)
              .controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <input type="text" class="form-control" formControlName="value" />
          <button
            (click)="deleteOption(i, controlContainer.control)"
            class="btn mt-26"
          >
            <img height="25px" width="25px" src="assets/trash.png" alt="" />
          </button>
        </div>
        <button
          class="btn add-option"
          (click)="addOption(getOptionsFormArray(controlContainer.control))"
        >
          <span>+</span>Add Option
        </button>
      </div>

      <!-- time -->
      <fieldset class="form-fieldset" *ngSwitchCase="'date'">
        <div class="form-check">
          <label for="dateAndTime">Date and Time</label>
          <input
            id="dateAndTime"
            name="option"
            type="radio"
            value="dateAndTime"
          />
        </div>
        <div class="form-check">
          <label for="date">Date</label>
          <input id="date" name="option" type="radio" value="date" />
        </div>
        <div class="form-check">
          <label for="required">Time</label>
          <input id="time" name="option" type="radio" value="required" />
        </div>
      </fieldset>
    </ng-container>
  </div>
</ng-container>
