<!-- Option -->
<ng-container [formGroup]="controlContainer.control">
  <div class="field-details" *ngIf="showDetails">
    <fieldset class="form-fieldset">
      <legend>Options</legend>
      <div class="form-check">
        <label for="none">None</label>
        <input
          id="none"
          formControlName="option"
          name="option"
          type="radio"
          value="none"
        />
      </div>
      <div class="form-check">
        <label for="disabled">Disabled</label>
        <input
          id="disabled"
          name="option"
          formControlName="option"
          type="radio"
          value="disabled"
        />
      </div>
      <div class="form-check">
        <label for="required">Required</label>
        <input
          id="required"
          formControlName="option"
          name="option"
          type="radio"
          value="required"
        />
      </div>
    </fieldset>

    <!-- Default Value -->
    <div class="form-group ml-2">
      <label for="defaultValue">Default Value</label>
      <input
        id="defaultValue"
        formControlName="defaultValue"
        name="description"
        type="text"
      />
    </div>
  </div>
</ng-container>
