@import "../../styles/mixins";
@import "../../styles/sharedStyles";
@import "../../styles/utils";

:host {
  flex-basis: 68%;
}

.fields {
  @include row(column);

  &__container {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
  }

  &__row {
    background-color: #fefefe;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: background-color 0.3s;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &__header {
    @include header();
  }
}
