@import "../../styles/mixins";
@import "../../styles/sharedStyles";
@import "../../styles/utils";

:host {
  flex-basis: 68%;
}

.fields {
  @include row(column);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    @include header();
  }
}
