<ng-container [formGroup]="controlContainer.control">
  <section class="properties" formGroupName="properties">
    <h4 class="properties__header">Project Properties</h4>
    <div class="p-2 properties__inputs">
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <input
          formControlName="name"
          id="projectName"
          name="projectname"
          type="text"
        />
      </div>

      <div class="form-group">
        <label for="projectDescription">Project Description</label>
        <textarea
          formControlName="description"
          id="projectDescription"
          rows="2"
          cols="2"
          name="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="copyright">Copyright</label>
        <input
          formControlName="copyright"
          id="copyright"
          name="copyright"
          type="text"
        />
      </div>
      <fieldset class="form-fieldset">
        <legend>Select Feature</legend>
        <div class="form-check">
          <label for="point">Point</label>
          <input
            formControlName="feature"
            id="point"
            name="feature"
            type="radio"
            value="point"
            checked
          />
        </div>
        <div class="form-check">
          <label for="polygon">Polygon</label>
          <input
            formControlName="feature"
            id="polygon"
            name="feature"
            type="radio"
            value="polygon"
          />
        </div>
      </fieldset>
    </div>
    <div class="form-actions p-2">
      <button class="btn btn-primary">Delete Form</button>
    </div>
  </section>
</ng-container>
