@import "../../styles/mixins";
@import "../../styles/sharedStyles";

:host {
  flex-basis: 30%;
}

.properties {
  @include row(column);

  &__inputs {
    border: 1px solid #dedede;
    border-top: none;
  }

  &__header {
    @include header();
  }
}


