<form #f class="form" ngForm="f" [formGroup]="form">
  <section class="form__section form__section--properties">
    <h4 class="form__header">Project Properties</h4>
    <div class="p-2">
      <div class="form__input-grp">
        <label for="projectName">Project Name</label>
        <input
          id="projectName"
          name="name"
          type="text"
          formControlName="name"
        />
      </div>

      <div class="form__input-grp">
        <label for="projectDescription">Project Description</label>
        <input id="projectDescription" name="description" type="text" />
      </div>
      <div class="form__input-grp">
        <label for="copyright">Copyright</label>
        <input id="copyright" name="copyright" type="text" />
      </div>
      <fieldset class="form__fieldset">
        <legend>Select Feature</legend>
        <div class="form__check">
          <label for="point">Point</label>
          <input
            id="point"
            formControlName="feature"
            name="feature"
            type="radio"
            value="point"
          />
        </div>
        <div class="form__check">
          <label for="polygon">Polygon</label>
          <input
            id="polygon"
            name="feature"
            type="radio"
            value="polygon"
            formControlName="feature"
          />
        </div>
      </fieldset>
    </div>
    <div class="form__section-btns p-2">
      <button class="btn btn-primary">Delete Form</button>
    </div>
  </section>
  <section class="form__section form__section--fields">
    <h4 class="form__header">Project Fields</h4>

    <div class="p-2">
      <!-- Begining of row -->
      <div class="field-container">
        <div class="row" draggable="true">
          <!-- image -->
          <button class="btn">
            <img
              draggable="false"
              class="row__drag-reorder"
              src="assets/drag_icon.jpg"
              alt=""
            />
          </button>
          <!-- first input-->
          <div class="form__input-grp flex-grow">
            <label for="fieldType"> field Type </label>
            <select id="fieldType">
              <option>Text</option>
              <option>Password</option>
            </select>
          </div>
          <!-- second input -->
          <div class="form__input-grp flex-grow">
            <label for="fieldName">Field Name</label>
            <input id="fieldName" name="copyright" type="text" />
          </div>
          <button class="btn btn--details">Details</button>
          <button class="btn">Dependencies</button>
          <button class="btn">
            <img height="25px" width="25px" src="assets/trash.png" alt="" />
          </button>
        </div>
      </div>
      <!-- field options begins -->
      <div class="row bg-default">
        <fieldset class="form__fieldset">
          <legend>Options</legend>
          <div class="form__check">
            <label for="none">None</label>
            <input
              id="none"
              formControlName="feature"
              name="option"
              type="radio"
              value="None"
            />
          </div>
          <div class="form__check">
            <label for="disabled">Disabled</label>
            <input
              id="disabled"
              name="option"
              type="radio"
              value="Disabled"
              formControlName="feature"
            />
          </div>
          <div class="form__check">
            <label for="required">Required</label>
            <input
              id="required"
              name="option"
              type="radio"
              value="Required"
              formControlName="feature"
            />
          </div>
        </fieldset>

        <!-- Default Value -->
        <div class="form__input-grp">
          <label for="defaultValue">Default Value</label>
          <input id="defaultValue" name="defaultValue" type="text" />
        </div>
      </div>

      <div class="row bg-default">
        <div class="form__input-grp flex-grow">
          <label for="fieldType"> field Type </label>
          <select id="fieldType">
            <option>Text</option>
            <option>Password</option>
          </select>
        </div>
      </div>

      <!-- end of row -->
    </div>
    <div class="form__section-btns p-2">
      <button class="btn btn-danger" (click)="addField()">Add Field</button>
      <button class="btn btn-primary">Save Form</button>
    </div>
  </section>
</form>
