@import "../../styles/mixins";
@import "../../styles/sharedStyles";
@import "../../styles/utils";
.modal {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
//1px solid #dedede
.modal-dialog {
  position: relative;
  width: 30rem;
  height: 82vh;
  border-radius: 5px;
  background: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: default;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transform: translateY(-100%);
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
  transform: none;
  background-color: #f1f1f1;
}

.modal-body {
  margin: 0.5rem;
  height: 100%;
  height: calc(100% - 1rem);

  .modal-header,
  .modal-footer {
    background: #f1f1f1;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: 2rem;
  }

  .modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    height: 3rem;
    .btn-clear {
      background-color: #ff0000;
      color: #fff;
    }

    .btn-finish {
      background-color: #5cb85c;
    }
  }
  .modal-header .close-modal {
    font-size: 1.5rem;
  }
  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #efefef;
    height: calc(100% - 5rem);

    &__screen {
      display: flex;
      flex-direction: column;
      height: 30%;
      border: 1px solid #dedede;

      &-container {
        flex-basis: 100%;
        border: 1px solid #dedede;
        box-shadow: inset 1px 1px 3px 0px rgb(38 38 38 / 42%);
      }

      &-heading {
        flex-basis: 18%;
        border: 1px solid #dedede;
      }
    }

    &__actions {
      display: flex;
      height: 69%;
      justify-content: space-between;

      &-fields {
        flex-basis: 55%;
        height: 100%;
        p {
          padding: 0.9rem;
          text-align: center;
        }

        &-wrapper {
          border: 1px solid #dedede;
          max-height: calc(100% - 47px);
          height: calc(100% - 47px);
          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;

          .btn-field {
            display: inline-block;
            height: 2rem;
            color: #fff;
            background-color: blue;
            margin: 0.1rem;
          }
        }
      }

      &-operators {
        flex-basis: 40%;

        p {
          text-align: center;
          padding: 0.9rem;
        }
        .btns-wrapper {
          background: linear-gradient(#4389a2, #5c258d);

          div {
            display: flex;
          }

          .btn-calc {
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            line-height: 3em;
            color: #fff;
            text-align: center;
            user-select: none;
            transition: background-color 0.2s ease;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 0 !important;
          }
        }
      }
    }
  }
}

//add border top to some buttons

.btop {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
