<div class="modal" [ngClass]="{ 'is-visible': showDialog }">
  <div class="modal-dialog">
    <div class="modal-body">
      <header class="modal-header">
        Define your formula
        <button (click)="closeModal()" class="btn" aria-label="close modal">
          ✕
        </button>
      </header>
      <section class="calculator">
        <div class="calculator__screen">
          <pre class="calculator__screen-container"></pre>
        </div>
        <div class="calculator__actions">
          <div class="calculator__actions-operators">
            <p>Operators</p>
            <div class="btns-wrapper">
              <div>
                <button class="btn btn-calc">-</button>
                <button class="btn btn-calc">+</button>
                <button class="btn btn-calc">/</button>
                <button class="btn btn-calc">*</button>
              </div>
              <div>
                <button class="btn btn-calc">(</button>
                <button class="btn btn-calc">)</button>
              </div>
              <div>
                <button class="btn btn-calc">0</button>
                <button class="btn btn-calc">1</button>
                <button class="btn btn-calc btop">2</button>
                <button class="btn btn-calc btop">3</button>
              </div>
              <div>
                <button class="btn btn-calc">4</button>
                <button class="btn btn-calc">5</button>
                <button class="btn btn-calc">6</button>
                <button class="btn btn-calc">7</button>
              </div>
              <div>
                <button class="btn btn-calc">8</button>
                <button class="btn btn-calc">9</button>
              </div>
            </div>
          </div>
          <div class="calculator__actions-fields"></div>
        </div>
      </section>
      <footer class="modal-footer">
        <button class="btn">Finish</button>
        <button class="btn">Clear</button>
      </footer>
    </div>
  </div>
</div>
