@import "../../styles/mixins";
@import "../../styles/sharedStyles";
@import "../../styles/utils";

.field-depencies {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  padding: 0.9rem;
  background-color: #f3f3f3;
}

.input-group {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 7.9rem);
  margin-left: 7.9rem;
  input {
  }
  select {
    padding: 0 0.9rem;

    margin: 0 0.2rem;
    border: 1px solid #ccc;
  }
}

.dep-wrapper {
  width: 100%;
}

.calculate-field {
  display: flex;
  margin-top: 0.9rem;
  align-items: center;
  margin-left: 7.9rem;

  textarea {
    height: 2.5rem;
    width: 20rem;
  }
}

.btn-plus {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.btn-plus::before {
  content: "+";
  display: inline-block;
  color: #5bc0de;
  background-color: #fff;
  font-weight: 700;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  text-align: center;
  margin-right: 4px;
}

.default-value {
  width: 9rem;
}

.dependency-type {
  border-bottom: 1px solid #ddd;
}

.add-dependency-container {
  display: flex;
  align-items: center;
  height: 2rem;
  span {
    font-size: 0.8em;
  }
}

.add-dependency-btn {
  color: #3399cc;

  &:hover {
    color: #326883;
  }
}
