<ng-container [formGroup]="controlContainer.control">
  <button class="btn mt-26">
    <img
      draggable="false"
      class="drag-reorder"
      src="assets/drag_icon.jpg"
      alt=""
    />
  </button>
  <!-- first input-->
  <div class="form-group flex-grow">
    <label for="fieldType"> field Type </label>
    <select id="fieldType" formControlName="inputType">
      <option *ngFor="let option of fieldTypeOptions" [value]="option.value">
        {{ option.displayValue }}
      </option>
    </select>
  </div>
  <!-- second input -->
  <div class="form-group flex-grow">
    <label for="fieldName">Field Name</label>
    <input id="fieldName" name="fieldName" type="text" formControlName="name" />
  </div>
  <button
    (click)="toggleDetails()"
    type="button"
    class="btn btn--details mt-26"
  >
    Details
  </button>
  <button
    (click)="toggleDependencies()"
    type="button"
    [style.visibility]="
      getFieldOrder(controlContainer.control) === 1 ? 'hidden' : 'visible'
    "
    class="btn mt-26"
  >
    Dependencies
  </button>
  <button class="btn mt-26" type="button" (click)="deleteField()">
    <img height="25px" width="25px" src="assets/trash.png" alt="" />
  </button>
</ng-container>
